/* SCSS Components _____________________________*/
/* Vars */
$white: #ffffff;
$light: #e0e0e0;
$dark: #404040;
$muted-light: #fafafa;
$muted-dark: #2e2d2d;
html {
    box-sizing: border-box;
}

/* Mixins */
// Remove default button stylings
@mixin purge-defaults {
    button {
        border: 0;
        background: transparent;
&:focus {
     outline: none;
 }
}
}

@mixin typography {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue,
    Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #404040;
}

/* Document layout */
.main {
    width: 100%;
    height: 100vh;
//display: flex;
//flex-direction: column;
}

body {
@include typography;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    height: 100vh;
//overflow: hidden;
&.dark {
     background: #212121;
 }
}

/* Header styles */
header {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
.logo {
    font-size: 36px;
    color: $dark;
}
.hamburger {
    font-size: 30px;
    color: $dark;
}
.moon {
    font-size: 28px;
    color: #fbc02d;
}
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background: $muted-light;
    box-sizing: border-box;
}

/* Side menu styles */
.side-menu {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $muted-light;
    width: 0px;
    transition: 0.2s;
    padding-top: 2rem;
a,
.menu-icon {
    font-weight: 600;
//font-size: 18px;
    color: lighten($dark, 20%);
    margin-bottom: 20px;
    padding-bottom: 4px;
&:hover {
     color: $dark;
 }
}
}

.side-menu--active {
    width: 500px;
    padding: 2rem;
}

.menu-items {
    margin-top: 1rem;
    display: grid;
    max-width: 200px;
    grid-row-gap: 22px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    cursor: pointer;
    padding: 3rem;
}

.menu-icon {
    font-size: 20px;
    margin-right: 20px;
    padding: 0;
    grid-column-end: 2;
}

.social-links {
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    font-size: 22px;
    max-width: 300px;
}

.social-icon {
    margin: auto;
    font-weight: 600;
    color: lighten($dark, 20%);
&:hover {
     color: $dark;
 }
}

li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.other-controls {
@include purge-defaults;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// This grid is for the elements within the side-menu
   .grid {
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-template-rows: repeat(12, 1fr);
       grid-column-gap: 10px;
       grid-row-gap: 10px;
   }

/* Dark styles */

.dark {
body,
html {
    background: #212121;
}
.main {
    color: $light;
    background: #212121;
}
footer {
    background: $muted-dark;
.social-icon {
    color: darken($light, 20%);
&:hover {
     color: $light;
 }
}
}
.side-menu {
    background: $muted-dark;
    height: 100vh;
a,
.menu-icon {
    color: darken($light, 20%);
    margin-bottom: 20px;
&:hover {
     color: $light;
 }
}
}
.body-grid-blocks {
    background: $muted-dark;
}
.hamburger {
    color: $light;
}
.logo {
    color: $light;
}
}

.dark-mode-button:active {
    font-size: 24px;
}

.dark-mode-button:focus {
    font-size: 26px;
}
